# Odoo Server (leave blank to let user configure in app)
ODOO_DEFAULT_URL=https://erp.messeret.com
ODOO_DEFAULT_DB=mml_db1

# Expo
EXPO_PUBLIC_APP_NAME=MEFS
EXPO_PUBLIC_APP_SLUG=paperlessodoo
EXPO_PUBLIC_URL_SCHEME=odoomobile

# Push Notifications
EXPO_PUBLIC_PUSH_MODE=expo   # expo | fcm | apns

# Feature Flags
EXPO_PUBLIC_ENABLE_SSL_PINNING=false
EXPO_PUBLIC_ENABLE_ROOT_DETECTION=false
EXPO_PUBLIC_ALLOW_SERVER_CHANGE=true
